.container > p > .btn {
  margin: 5px 0;
}

.navbar .container {
  width: auto;
}

.rc {
    text-align:center;
}

.cc {
    display:inline-block;
    float:none;
    text-align:left;
}

#actions {
	margin-bottom: 10px;
}

.forms {
	margin:5px 0px;
}

#new_contact, #searchBox, #edit_contact{
	display:none;
}

#new_contact .input-group, #edit_contact .input-group {
	width:140px;
}

.input-group {
	margin-right: 5px;
}

body {
	
	background: #FFFFFF url('book.png');
	background-repeat:no-repeat;
	
}

h1 {
	display: block;
	margin-top: 5px;
	font-size: 5em;
	color: blue;
}

#contactsTable button{
	margin-left:5px;
}
